<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/">{{ site.title }}</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
       <li{% if layout.active_path == 'home' %} class="active"{% endif %}><a href="/">home</a></li>
       <li{% if layout.active_path == 'articles' %} class="active"{% endif %}><a href="/articles/">blog</a></li>
       <li{% if layout.active_path == 'projects' %} class="active"{% endif %}><a href="/projects">projects</a></li>
       <!-- <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Example<span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="#">Action</a></li>
           <li><a href="#">Another action</a></li>
           <li><a href="#">Something else here</a></li>
           <li role="separator" class="divider"></li>
           <li class="dropdown-header">Nav header</li>
           <li><a href="#">Separated link</a></li>
           <li><a href="#">One more separated link</a></li>
         </ul>
       </li> -->
     </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/ajturner" title="Andrew Turner Twitter">@ajturner</a></li>
        <li><a href="https://github.com/ajturner" title="ajturner on GitHub">GitHub</a></li>
         <li><a href="/feed.xml" title="Subscribe to articles"><img src="/assets/images/feed-icon.png" alt="Subscribe to Feed icon"/></a></li>
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</nav>
