.bgimage {
  padding-top: 100px
  width:100%;
  height:500px;
  /*background: url('https://farm8.staticflickr.com/7348/11452221493_8523f98888_b_d.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
.bgimage .hero-content {
  height: 450px; /* Same as bgimage */
}
.bgimage .hero-content cite {
  position: absolute;
  bottom: 0px;
  right: 20px;
  text-transform: none;
}
.bgimage .hero-content cite a {
  color: white;
}

.row {
  padding-top: 20px;
}

.navbar, footer {
  background-color: rgba(30,30,30,0.8);
  color: white;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: white
}
.navbar a, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a.active, .navbar-default .navbar-nav li.active a {
  color: white;
}
body {
  font-size: 16px;
  line-height: 1.7;
}

.post-footer, .post-footer a {
  background-color: rgba(30,30,30,0.8);
  color: white;
  border: none;

}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
